// Variable declarations 

// Fonts
$font-headline: 'IM Fell English SC', serif;
$font-body: 'Miriam Libre', sans-serif;
$box-shadow: 
    rgba(0, 0, 0, 0.4) 0px 2px 4px, 
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

// Frontpage styling - mobilefirst
.frontpage-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
}

.frontpage-content {
    width: 80%;
}

.frontpage-content img {
    width: 100%;
}

#kiosken {
    margin: 20px 0 0 5px;
    position: relative;
    width: 100%;

    h2 {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: $font-headline;
        transform: translateY(-30px);
        font-size: 30px;
        background-color: rgba(13, 53, 5, 0.7);
        border-radius: 8px;
        width: 80%;
        margin: 0 auto;
        box-shadow: $box-shadow;
    }
}

#appletrees {
    margin: 0 0 0 0;
    position: relative;
    left: 0;
    width: 100%;
}

#sebastian {
    margin: -130px 0 0 60%;
    position: fixed;
    width: 155px;
    transform: scaleX(-1) rotate(3deg);
    bottom: 10px;
    z-index: 3;
}

#rollercoaster {
    margin: 0 0 0 20px;
    position: relative;
    top: -120px;
    width: 80%;
    display: none;
}

#isbaren {
    margin: -100px 5px 10px 10px;
    position: relative;
    width: 95%;
    display: none;
}

#bikestation {
    margin: 0 0 220px 25%;
    position: relative;
    width: 70%;
    display: none;

}

#sign {
    position: fixed;
    width: 210px;
    z-index: 1;
    bottom: 4px;
    left: 45px;
}

.entryway-container-sebastian-taleboble {
    display: block;
    position: fixed;
    right: 35%;
    bottom: 400px;
    font-family: $font-headline;
    font-size: 25px;
    z-index: 1;
}

.entryway-container-sebastian-taleboble img {
    width: 200px;
}

#taleboble-one {
    display: block;
    position: fixed;
    right: 35%;
    bottom: 430px;
    width: 180px;
    line-height: 0.8;
    color: black;
}

#taleboble-two {
    display: none;
    position: fixed;
    right: 35%;
    bottom: 420px;
    width: 170px;
    line-height: 0.8;
    color: black;
}

.frontpage-content-pathway {
    display: none;
}

#frontpage-entryway {
    display: none;
}

.frontpage-bottom img {
    position: fixed;
    bottom: -10px;
    left: -10px;
    // width: 110%;
    height: 160px;
    z-index: 0;
}

.frontpage-bottom-sign-info {
    position: fixed;
    z-index: 2;
    bottom: 40px;
    left: 60px;
    width: 140px;
    text-align: center;
    font-family: $font-headline;
    line-height: 1.1;
    
    h3 {
        font-size: 16px;
    }

    p {
        font-size: 22px;
        padding-bottom: 5px;
    }

    address {
        font-size: 22px;
    }

    a {
        font-size: 22px;
        text-decoration: underline;
        color: black;
    }
}

@media only screen and (min-width: 480px) {
    #kiosken {
        margin: 20px 0 0 1vw;
        position: relative;
        width: 465px;
    }
    
    #appletrees {
        margin: 0 0 0 0;
        position: relative;
        left: 35vw;
        width: 465px;
    }
    
    // #sebastian {
    //     margin: -130px 0 0 60%;
    //     position: relative;
    //     width: 120px;
    //     transform: scaleX(-1) rotate(3deg);
    // }
    
    #rollercoaster {
        margin: 0 0 0 10vw;
        position: relative;
        top: -250px;
        width: 365px;
    }
    
    #isbaren {
        margin: -200px 5px 10px 20vw;
        position: relative;
        width: 445px;
    }
    
    #bikestation {
        margin: 0 0 220px 45%;
        position: relative;
        width: 330px;
    
    }
    
    #sign {
        position: fixed;
        width: 210px;
        z-index: 1;
        bottom: 4px;
        left: 45px;
    }
}

@media only screen and (min-width: 769px) {

    #kiosken {
        position: fixed;
        width: 350px;
        top: 300px;
        z-index: 1;
    }
    
    // #appletrees {
    //     position: fixed;
    //     left: 70%;
    //     width: 350px;
    //     top: 150px;
    //     z-index: 1;
    // }
    
    // #sebastian {
    //     position: fixed;
    //     width: 90px;
    //     transform: scaleX(-1) rotate(3deg);
    //     top: 390px;
    //     right: 100px;
    //     z-index: 1;
    // }
    
    #rollercoaster {
        position: fixed;
        top: 300px;
        width: 250px;
        right: 150px;
    }
    
    #isbaren {
        position: fixed;
        width: 300px;
        top: 350px;
        left: 10%;
        z-index: 1;

        h2 {
            color: rgb(255, 255, 255);
            text-align: center;
            font-family: $font-headline;
            transform: translateY(-30px);
            font-size: 30px;
            background-color: rgba(13, 53, 5, 0.7);
            border-radius: 8px;
            width: 80%;
            margin: 0 auto;
            box-shadow: $box-shadow;
        }
    }
    
    #bikestation {
        position: fixed;
        width: 330px;
        bottom: -210px;
        right: 60px;
        z-index: 4;
    }

    // .frontpage-content-pathway {
    //     display: block;
    // }

    // .frontpage-content-pathway img {
    //     position: fixed;
    //     width: 100%;
    //     bottom: 5vh;
    //     left: 0%;
    // }

    #sign {
        position: fixed;
        width: 210px;
        z-index: 1;
        bottom: 4px;
        left: 45px;
    }
}

@media only screen and (min-width: 930px) {

    #sebastian {
        width: 90px;
        top: 390px;
        right: 100px;
    }
    
    #appletrees {
        position: fixed;
        left: 70%;
        width: 350px;
        top: 150px;
        z-index: 1;
    }

    #rollercoaster {
        position: absolute;
        top: 400px;
        right: 250px;
        width: 300px;
        display: block;
    }
    
    #isbaren {
        position: absolute;
        width: 300px;
        display: block;
        left: 150px;
    }
    
    #bikestation {
        margin: 0 0 220px 25%;
        position: absolute;
        width: 300px;
        display: block;
    }

    .entryway-container-sebastian-taleboble {
        right: 200px;
        bottom: 610px;
    }

    #taleboble-one {
        right: 195px;
        bottom: 640px;
        width: 180px;
    }

    #taleboble-two {
        right: 200px;
        bottom: 640px;
        width: 190px;
    }

    #frontpage-bushandpavement {
        display: none;
    }

    #frontpage-entryway {
        display: block;
        height: auto;
        width: 110%;
        min-width: 1200px;
        left: -40px;
        bottom: -40px;
    }

    #frontpage-entryway img {
        width: 100%;
    }
}