// Variable declarations 

// Fonts
$font-headline: 'IM Fell English SC', serif;
$font-body: 'Miriam Libre', sans-serif;

// Frontpage header styling - mobilefirst
.aeblehaven-header {
    background-image: none;
}

// Frontpage styling - mobilefirst
.frontpage-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.frontpage-content-entryway {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
}

.frontpage-content-entryway img {
    width: 400%;

}