// Variable declarations 

// Fonts
$font-headline: 'IM Fell English SC', serif;
$font-body: 'Miriam Libre', sans-serif;
$box-shadow: 
    rgba(0, 0, 0, 0.4) 0px 2px 4px, 
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

// History styling - mobilefirst

.history-container {
    width: 90%;
    margin: 0 auto;
}

.history-container-content {
    padding: 20px;
    width: 100%;
}

.history-container-content-img {
    width: 100%;
}

.history-container-textbox h2 {
    font-family: $font-headline;
    text-align: center;
    font-size: 32px;
    color: white;
}

.history-container-arrows {
    display: none;
}

.history-container-content-textbox {
    font-family: $font-body;
    background-color: #E8F9FF;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    margin: 10px auto 40px;
    box-shadow: $box-shadow
}



// Styling to mobile-first 

@media only screen and (min-width: 480px) {

    .history-container-content {
        width: 440px;
        margin: 0 auto;
    }

}


@media only screen and (min-width: 650px) {
    
    .history-container h1 {
        font-size: 7vw;
    }

}

@media only screen and (min-width: 769px) {

// History platforms - styling
    .history-container-content {
        width: 100%;
        position: relative;
    }

    .history-container-textbox img {
        width: 250px;
        position: absolute;
    }

// Platform 1
    #history-container-textbox1 {
        display: flex;
        flex-direction: column;
        margin-right: 65%;
    }

    #history-container-textbox1 h2 {
        margin-top: 250px;
        position: absolute;
    }

    #history-arrow-one {
    }

// Platform 2
    #history-container-textbox2 {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }

    #history-container-textbox2 h2 {
        margin-top: 200px;
        position: absolute;
        margin-right: 0;
    }

// Platform 3
    #history-container-textbox3 {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        margin-top: 250px;
    }

    #history-container-textbox3 h2 {
        margin-top: 200px;
        position: absolute;
        margin-right: 0;
    }

// Platform 4
    #history-container-textbox4 {
        display: flex;
        flex-direction: column;
        margin-right: 65%;
    }

    #history-container-textbox4 h2 {
        margin-top: 250px;
        position: absolute;
    }

// Platform 5
    #history-container-textbox5 {
        display: flex;
        flex-direction: column;
        margin-right: 30%;
        margin-top: 250px;
    }

    #history-container-textbox5 h2 {
        margin-top: 200px;
        position: absolute;
    }

// Styling of the textboxes when hovering over
    #history-container-textbox1 #textbox-1 {display: none;} 
    #history-container-textbox2 #textbox-2 {display: none;} 
    #history-container-textbox3 #textbox-3 {display: none;} 
    #history-container-textbox4 #textbox-4 {display: none;} 
    #history-container-textbox5 #textbox-5 {display: none;}

    #history-container-textbox1:hover #textbox-1 {
        display: block;
        position: absolute;
    } 
    #history-container-textbox2:hover #textbox-2 {
        display: block;
        position: absolute;
    } 
    #history-container-textbox3:hover #textbox-3 {
        display: block;
        position: absolute;
    } 
    #history-container-textbox4:hover #textbox-4 {
        display: block;
        position: absolute;
    } 
    #history-container-textbox5:hover #textbox-5 {
        display: block;
        position: absolute;
    }

    .history-container-textbox {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .history-container-content-textbox {
        width: 70%;
    }

    .history-container-arrows {
        display: block;
    }
    
    #history-arrow-one {
        margin-left: 20%;
        width: 40px;
    }
    
    #history-arrow-two {
        margin-left: 70%;
        width: 40px;
    }
    
    #history-arrow-three {
        margin-left: 50%;
        width: 40px;
    }
    
    #history-arrow-four {
        margin-left: 40%;
        width: 40px;
    }
}