// Variable declarations 

// Fonts
$font-headline: 'IM Fell English SC', serif;
$font-body: 'Miriam Libre', sans-serif;

// menu header styling
.aeblehaven-header h1 {
    text-align: center;
    font-family: $font-headline;
    padding-bottom: 0;
}

.aeblehaven-header h4 {
    text-align: center;
    font-family: $font-headline;
    font-size: 25px;
    transform: translateY(-10px)
}

#logo-container-logo-white {
    display: none;
}

// food menu main content
.foodmenu-container-mobile {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-family: $font-headline;
    font-size: 20px;
}

.foodmenu-container-li ul {
    margin-bottom: 20px;
}

// mobile-first styling
@media only screen and (min-width: 480px) {
    .foodmenu-container {
        font-size: 4.167vw;
    }
    
}

// desktop styling
@media only screen and (min-width: 650px) {

    #background-container{
        background-image: url(/images/menu/background.png);
    }

    #logo-container-logo-black {
        display: none;
    }

    #logo-container-logo-white {
        display: block;
    }

    #logo-container:hover {
        background-color: #A38978;
        // border-style: solid;
        // border-color: white;
    }

    #logo-container-homebutton h3 {
        color: white;
        
    }

    #mobile-foodmenu {
        display: none;
    }

    .aeblehaven-header {
        background: none;
    }

    // Menu styling
    #desktop-foodmenu {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        font-family: $font-headline;
        font-size: 20px;
        color: white;
        text-align: center;   
        

    }

    // // foodmenu content styling
    .desktop-foodmenu {
        width: 500px;
        max-width: 750px;
        position: fixed;
        

    }
   
}